{% extends "base.html" %}

{% block main %}
<h1>pagina de tareas</h1>
<table>
  <tr>
    <th>title</th>
    <th>contet</th>
    <th colspan="3"></th>
  </tr>
  {% for task in tasks %}
  <tr>
    <td>{{task.title}}</td>
    <td>{{task.content}}</td>
    <td><a href="{% url 'tasks:detail' task.id %}">detalle</a></td>
    <td><a href="{% url 'tasks:edit' task.id %}">editar</a></td>
    <td><a href="{% url 'tasks:delete' task.id %}">borrar</a></td>
  </tr>
  {% endfor %}
</table>

<br>

<a href="{% url 'tasks:create' %}">crear nuevo</a>

{% endblock %}
